page-neighbours {
    .firstitem {
        margin-top: 2.5em;
    }
    .spanclass {
        padding-left: 0.75em;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: #8e9093;
    }
}