<!--
  Generated template for the NewServiceRequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-buttons start>
      <button ion-button icon-only (click)="back()">
        <ion-icon name="arrow-back" color="secondary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>New Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="paddingtop">
  </div>
  <!-- <ion-list> -->
  <ion-item no-lines>
    <ion-input type="text" placeholder="Title" [(ngModel)]="title"></ion-input>
  </ion-item>
  <!-- </ion-list> -->
  <!-- <ion-list> -->
  <div padding>
  </div>
  <ion-item no-lines>
    <textarea type="text" placeholder="Details" rows="4" style="width:100%;border:none" [(ngModel)]="details"></textarea>
  </ion-item>
  <!-- </ion-list> -->
  <div class="div-padding">
    <button ion-button icon-only clear color="login" (tap)="addPhotoRequest()">
      <ion-icon class="service-pic" name="camera-outline"></ion-icon>
      <form>
        <input hidden id="avatar" name="file" type="file" accept="image/*" (change)="upload()">
      </form>
    </button>

    <div *ngIf="picAdded">
      <div *ngFor="let image of reqPicture; let i = index" style="display:inline-block;padding: 5px;
          position:relative;">
        <img [src]="image" class="reqImages" />
        <!-- <img *ngIf="hasPhoto" [src]='image.image' [class]="image.appliedFilter" style="max-width:90px;max-height:90px" /> -->
        <ion-icon name="ios-close-circle" color="danger" style="font-size:1.6em; position: absolute; top: 0; right: 0" (tap)="deleteImage(i, image)"></ion-icon>
        <!-- OLD <img *ngIf="hasPhoto" [src]='image' style="max-width:90px;max-height:90px" />
            <ion-icon name="ios-close-circle" color="danger" style="position: absolute; top: 0; right: 0" (tap)="deleteImage(i, image)"></ion-icon> -->
      </div>
      <ion-spinner *ngIf="loading" name="bubbles"></ion-spinner>

    </div>

    <button ion-button block (tap)="submitRequest()">Submit</button>
  </div>



</ion-content>