page-register {
    .scroll-content {
        background-color: #EFEFF4;
    }
    .paddingtop {
        margin-top: 2em !important;
    }
    .buildingmanager {
		position:absolute;
		bottom:-20em;
		width:100%;
		padding-bottom:32px
    }
}