page-settings {
    .paddingtop {
        margin-top: 2em !important;
    }
    span.button-inner {
        color: red;
    }
    .profileImg{
        width:56px !important;
        height:56px !important;
    }
}