page-business-details {
    .firstitem {
        margin-top: 2.5em;
    }
    .spanclass {
        padding-left: 3em;
        font-size: 1.4rem;
        line-height: normal;
        text-overflow: inherit;
        color: #8e9093;
    }
    .wordWrap {
        white-space: normal !important;
    }
    .messageButton {
        float: right;
        margin-top: 15px
    }
}