<!--
  Generated template for the ServiceReqDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
  <ion-buttons start style="width:30px" (click)="back()">
    <button ion-button icon-only style="width:30px">
      <ion-icon name="arrow-back" color="secondary"></ion-icon>
      &nbsp;&nbsp;
    </button>
  </ion-buttons>
    <ion-title>Service Center Progress</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="paddingtop">
  </div>
  <!-- <ion-item no-lines>
    <p><b>Title</b></p>
    <p>{{serviceReqDetails.title}}</p><br>
      <p>
        <b>Status</b>
        <span *ngIf="serviceReqDetails.status == 'inProgress'">In progress</span>
        <span *ngIf="serviceReqDetails.status == 'completed'">Completed</span>
      </p>
      <span *ngIf="userType != 'admin'" class="serv-span" item-end>{{serviceReqDetails.time}}, {{serviceReqDetails.date}}</span>
        <button *ngIf="userType == 'admin' && serviceReqDetails.status == 'inProgress'" ion-button outline small item-end color="danger" (tap)="completeSupportReq()">Complete</button>
      
</ion-item> -->
<ion-item no-lines>
  <p>
    <b>Title</b>
  </p>
  <p>{{serviceReqDetails.title}}</p>

  <span *ngIf="userType == 'admin'" class="serv-span" item-end>{{serviceReqDetails.time}}, {{serviceReqDetails.date}}</span>
</ion-item>
<ion-item no-lines>
  <p>
    <b>Status</b>
    <span *ngIf="serviceReqDetails.status == 'inProgress'">In progress</span>
    <span *ngIf="serviceReqDetails.status == 'completed'">Completed</span>
  </p>
  <span *ngIf="userType != 'admin'" class="serv-span" item-end>{{serviceReqDetails.time}}, {{serviceReqDetails.date}}</span>
  <button *ngIf="userType == 'admin' && serviceReqDetails.status == 'inProgress'" ion-button outline small item-end color="danger"
    (tap)="completeSupportReq()">Complete</button>
</ion-item>

<ion-item no-lines>
    <p>
      <b>Details</b>
    </p>
    <p style="white-space: normal">{{serviceReqDetails.details}}</p>
  </ion-item>
  <ion-item *ngIf="serviceReqDetails.supportPic">
    <ion-slides pager="true">
      <ion-slide *ngFor="let image of serviceReqDetails.supportPic">
        <img [src]="image" class="reqImages"/>
      </ion-slide>
    </ion-slides>
  </ion-item>
<ion-item no-lines>
  <p>
    <b>Assigned to</b>
  </p>
  <p>{{serviceReqDetails.assignedToFirstName}} {{serviceReqDetails.assignedToLastName}} <span class="building-span">Building Manager</span></p>
</ion-item>
<div *ngIf="serviceReqDetails.Notes">
  <ion-item no-lines>
    <p>
      <b>Notes</b>
    </p>
  </ion-item>

  <ion-item no-lines *ngFor="let note of allNotes">
    <ion-row align-items-center>
      <ion-col col-2>
        <ion-avatar item-start>
          <img src="{{ note.addedByProfile }}">
        </ion-avatar>
      </ion-col>
      <ion-col col-6>
        <h5>{{ note.addedByFirstName }} {{ note.addedByLastName }}</h5>
        <p class="building-span">Building Manager</p>
      </ion-col>
      <ion-col col-4 style="padding-left:0px;">
        <p item-end class="serv-span">{{ note.time }}, {{note.dateofPost}}</p>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-12>
        <p style="white-space:normal">{{note.note}}</p>
      </ion-col>
    </ion-row>


  </ion-item>
  <div padding>

  </div>
</div>

</ion-content>

<ion-footer *ngIf="userType == 'admin'">
  <ion-row align-items-center>
    <ion-col col-10>
      <ion-item no-lines class="footer">
        <textarea #commentInput [rows]="notesRow" (keyup)="resize()" id="myInput" type="text" placeholder="Add a Note" [(ngModel)]="notes"></textarea>
      </ion-item>
    </ion-col>
    <ion-col col-2>
      <button ion-button clear type="submit" style="padding-left:0px" tappable (click)="addNotes()">Add</button>
    </ion-col>
  </ion-row>

</ion-footer>
